page-event-list {
ion-title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;

  }
  ion-content{
    margin-top: 30px;
    
}
ion-list{
    margin-top: 10px;
}
ion-item{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #488aff;
}
h2{
    color: #488aff;
}
p{
    color: #488aff;
}
}
